body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}

.jumbotron feature {
	background-color: red;
	color: rgb(153, 68, 68);
	}

	
.feature {
	background-color: darkred;
	color: black;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.glyphicon-equalizer{
	color: black;
}
.page-header {
    height: 400px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: linear-gradient(rgba(28, 30, 50, .9), rgba(28, 30, 50, .9)),url(/images/bg-banner.jpg);
    background-attachment: fixed;
	/* opacity: 0.4; */
}

@media (max-width: 991.98px) {
    .page-header {
        height: 300px;
    }
}
.bg-banner {
    background: linear-gradient(rgba(28, 30, 50, .9), rgba(28, 30, 50, .9)), url(/images/bg-banner.jpg);
    background-attachment: fixed;
}
h1,
h2,
.font-weight-bold {
	height: 100px;
    font-weight: 900 !important;
}
.glyphicon-retweet{
	color:#f77d0A;
}

.glyphicon-equalizer{
	color: #fcfaf8 ;
}

.py-5{
flex-shrink: 0;
padding-bottom:3rem !important}

.px-0{padding-right:0 !important}

.px-0{padding-left:0 !important}

.img-fluid{max-width:100%;height:auto}

.mx-0{margin-left:0 !important}

.mx-0{margin-right:0 !important}

.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
  }

  .root {
	--primary: #F77D0A;
	--secondary: #2B2E4A;
	--light: #F4F5F8;
	--dark: #1C1E32;
}