/* * {
  margin: 0;
  padding: 0x;
} */

#cartable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#ddd;
  border-collapse: collapse;
  /* border: 5px transparent #ddd; */
  width: 100%;
}

#cartable td, #cartable th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

#cartable tr:nth-child(even){background-color: rgb(59, 53, 63);}
#cartable tr:nth-child(odd){background-color:  #767894;}

/* #cartable tr:hover {background-color: #ddd;} */

#cartable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f77d0a;
  color: white;
  border-bottom: 5px solid #ddd;}

#carDetailImage {
  height: Auto;
  width: 300px;
}

.base64Image{
  height: 50px;
  width: 50px;
}

.individualImage {
  position: relative;
}

.inner-image {
  
  top: 15px;
  right: 30px;
  
}

#google{
  margin-left:100px; 
}


body {
  display: table;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%; 
  text-align: center;
}

.align-items-center{
  margin:0 auto !important;
}

.contact-us-block{
  border-style: solid;
  border-width: 2px;
  border-color:gray;
  border-radius: 12px;
}

.contact-content-right{
  margin: 10px 0 10px 0;

  border-radius: 6px;
}
.glyphicon-equalizer{
  color: #fff;
}


.btn-send-msg{
  background-color: #f77d0a;
  color:white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-left:10px;

}

.ml-0, .mx-0{
  margin-left: 0 !important;
}

.ml-0, .mx-0{
  margin-right: 0 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;

}

.pl-0, .px-0 {
  padding-left: 0 !important;
}

.pr-0, .px-0 {
  padding-right: 0 !important;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.bg-secondary {
  background-color: #2B2E4A !important;
}
.ml-n5, .mx-n5 {
  margin-left: -3rem !important;
}
.mr-4, .mx-4 {
  margin-right: 1.5rem !important;
}
.w-50 {
  width: 50% !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-right {
  text-align: right;
}
.py-5 {
  color: rgba(28, 30, 50, .9);
  flex-shrink: 0;
  padding-bottom: 3rem !important;
}
.text-uppercase {
  text-transform: uppercase;
}
  h3, h4, h5, h6 {
  color: black;
}
.h3, h3 {
  font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.pl-5, .px-5 {
  padding-left: 3rem !important;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.bg-dark {
  background-color: #1C1E32 !important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}
.pt-2, .py-2 {
  padding-top: .5rem !important;
}

.btn-edit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary {
  color: #fff;
  background-color: #F77D0A;
  border-color: #F77D0A;
}
.text-light {
  color: #F4F5F8 !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
  color:#8486A0;
}
.mr-n5, .mx-n5 {
  margin-right: -3rem !important;
}
.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}
.pl-5, .px-5 {
  padding-left: 3rem !important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.bg-light {
  background-color: #F4F5F8 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;

}
.form-group {
  margin-bottom: 1rem;
  margin-left: 50px;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.p-4 ,.px-4{
  padding: 1.5rem !important;
  height:50px;
  margin:5px 10px 5px 10px;
}

.bg-secondary {
  background-color: #2B2E4A !important;
}

button, input {
  overflow: visible;
}
.mt-n1, .my-n1 {
  margin-top: -.25rem !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}

@media (min-width: 992px){
.col-lg-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
}

.mb-4{
  height:400px;
}
.glyphicon-home,.glyphicon-briefcase,.glyphicon-user,.glyphicon-envelope{
  color: #f77d0a;
}
.contact-info{
 text-align: left;
}

h1,h2{
  color:black;
}

.sell-car,.buy-car{
  height:auto;
}
.buy-car{
  padding-bottom:50px;
}
body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

  /* .form-signin-heading,
  .checkbox {
	  margin-bottom: 30px;
	} 

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
  }

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	} 

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
} */



body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #FFFFFF;
  width: 800px;
  height: 800px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 100px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 50px;
}


form.form1 {
  padding-top: 40px;
  color:black;
}

.form1 {
  padding-top: 40px;
  color:black;
}


.btn-success {
cursor: pointer;
  border-radius: 1em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  /* border: 0; */
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.home-table{
  margin:0 auto;
}

.copyright{
  color:#fff;
}

a{
  color:#fff;
}
.contact-us{
  margin-top:50px;
}
.contact-top{
  padding:20px;
}
.contact-from{
  width: 100% !important; 
}

.contact-submit{
  padding:12px 40px;
  font-size: 24px;;
}

.page-control
{
  padding: 20px 0px 20px 0;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}
.log-in-out{
  padding-left: 120px;
}

.depreciation{
  width:50%;
}

.createpost{
  padding-top:40px;
  padding-bottom: 25px;
}

.depreciationcalculation{
padding-top:50px;
}

.preference{
  padding-top:50px !important;
}

.create{
  color:black;
  font-size: 17px;
  font-weight:700;
  
}

.price{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color:black;
  font-size: 20px;
  
}

.pref{
  color:black;
  font-size: 20px;
  padding-top:33px;
  font-weight:700;
}

.input{
  color:rgb(44, 44, 44);
  font-size: 15px;
  border: 1px solid #ccc;
}

.input2{
  color:rgb(63, 62, 62);
  font-size: 17px;
}

